.app
    display: flex
    flex-direction: column
    .pokelist
        display: flex
        flex-wrap: wrap
        justify-content: space-around
    .pokemon
        display: flex
        align-items: center
        list-style-type: none
        border: 1px solid black
        margin: 10px
        border-radius: 5px
        background-color: #ffe
        .pokemon-name
            margin: 2px 5px
            font-weight: bold
        .pokemon-stats
            .stats-section
                color: white
                // border: 1px solid black
                box-shadow: 2px 2px 2px grey
                border-radius: 5px
                padding: 2px
                margin: 5px
                &:hover
                    box-shadow: 5px 5px 5px darkgrey
                    cursor: pointer
                    transition: all 0.5s
            .stats-hp
                background-color: red
            .stats-attack
                background-color: gold
                color: black
            .stats-defense
                background-color: green
            .stats-speed
                background-color: darkblue
        .pokemon-image
            margin: 2px
            &:hover
                filter: drop-shadow(5px 5px 5px darkgrey)
                cursor: pointer
                transition: all 0.5s
    .fighter
        display: flex
        flex-direction: row
        width: 100%
        justify-content: center
        .fighter-section
            width: 10rem
            height: 5rem
            border: 1px solid black
            border-radius: 5px